[Unit]
Description=Load USB gadget configs
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
ExecStart=/etc/initscripts/start_usb
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=usb-gadget.target
