[Unit]
Description=USB demon service
Requires=dev-ffs_usb.mount
After=dev-ffs_usb.mount
DefaultDependencies=no

[Service]
ExecStart=/bin/usb_demon /dev/ffs_usb

[Install]
WantedBy=multi-user.target
